@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.game {
  display: flex;
  gap: 12px;
}

.gamer {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

ul {
  display: flex;
}
li {
  list-style: none;
  margin: 24px;
}

li > a {
  text-decoration: none;
  color: #3c354f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  margin: 28px 64px;
}

h3 {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

h2 {
  font-family: Work Sans;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  text-transform: uppercase;
}

.text-color {
  color: #8758f1;
}

.btn-1 {
  background-color: #ff42a5;
  color: white;
  border-radius: 48px;
  border: none;
  padding: 16px 24px;
}

.btn-2 {
  background-color: #4ec5f7;
  color: white;
  border-radius: 48px;
  border: none;
  padding: 16px 24px;
}

.title {
  padding: 64px;
  background-image: url("images/Group\ 14.png");
  width: 100%;
  gap: 16px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 120px;
}

.about {
  display: flex;
  align-items: center;
  margin: 40px 64px;
}

.games-videos {
  display: flex;
}

.download {
  display: flex;
  gap: 28px;
}

.online {
  text-align: center;
}

p {
  color: #534c64;
}
